.question-page {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
}

.question-form__ {
    position: relative;
}

.isCorrect_Answer:active{
    background:#96C0FF;
}

@media (min-width:0px) and (max-width: 999px) {

    .learn-page {
        width: 100%;
    }

    
}