.checkout-form {
    margin: 10px;
}

.steps {
    display: flex;
    height: 50px;
    width: 95%;
    margin: 10px;
}

.step {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-top: 10px;
    background: rgb(59, 130, 246);
}

.step label {
    margin: 10px;
    color: #fff;
    text-align: center;
}

.step:nth-child(2) {
    background: rgba(59, 131, 246, 0.589);
}

/* address */

.--form {
    display:flex;
    justify-content: center;
    margin: 10px;
    height: 450px;
}