.checkout-form {
    margin: 10px;
}

.steps {
    display: flex;
    height: 50px;
    width: 100%;
}

.step {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    background: rgb(59, 130, 246);
}

.step label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    color: #fff;
}

.step label a {
    align-self: center;
    font-size: 12px;
}

.step:nth-child(2) {
    background: rgba(59, 131, 246, 0.589);
}

/* address */

.--form {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.--form div {
    align-self: center;
    width: 100%;
    margin: 2.5px;
}
.--form label {

}

.--form h1 {
    margin: 10px;
}

.--form--input {
    align-self: center;
}

.address-form {
    display: flex;
    flex-direction: column;
}

.payment-btn {
    padding: 10px;
    margin: 10px;
    background: rgba(59, 131, 246, 0.589);
}