
.main-container_on_panel_site {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #D5E2FF;
}

.container_for_user_options {
    display: flex;
    align-self: center;
    background: #fff;
    border-radius: 15px;
    height: 72px;
    width: 92.5pc;
    margin: 15px 0px 5px;
}

.container-for-label-user-etc {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.container-for-label-user-etc label {
    align-self: center;
    margin: 15px;
}

.user-panel-with-infos {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: #fff;
    border-radius: 15px;
    height: 72px;
    width: 92.5pc;
    margin: 0px 15px 15px;
}

.user-panel-with-infos p {
    align-self: center;
    text-align: center;
}

.container_for_user_options {
    display: flex;
    justify-content: center;
}

.add-user-btn {
position: relative;
display: flex;
justify-content: center;
right: 10px;
height: 42px;
width: 43px;
margin: 15px;
border-radius: 10px;
background: #0DA64B;
}

.delete-user-btn {
    position: relative;
    display: flex;
    justify-content: center;
    right: 10px;
    height: 42px;
    width: 42px;
    margin: 15px;
    border-radius: 10px;
    background: #df0f2b;
    }

button svg {
    align-self: center;
}