.main-container_on_panel_site {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: #D5E2FF;
    width: 1499px;
}

.main-container_on_panel_site.medium {
    width: auto;
}

.container_for_user_options {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #fff;
    border-radius: 15px;
    height: 74px;
    width: 275px;
    margin: 15px;
}

.desktop-hide {
    display: block;
}

.container-for_subwigets {
    display: flex;
    flex-direction: column;
}

.container_for_user_options img {
    align-self: center;
}

.container-for-label-user-etc {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.score__individual__user {
    display: none;
}


.container-for-label-user-etc label {
    display: none;
    align-self: center;
    margin: 15px;
}

.user-panel-with-infos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    background: #fff;
    border-radius: 15px;
    width: 275px;
    height: 74px;
    margin: 0px 15px 15px;
}

.user-panel-with-infos p {
    align-self: center;
    text-align: center;
}

.container_for_user_options {
    display: flex;
    justify-content: center;
}

.add-user-btn {
margin: 10px 0px;
}

.add-user-btn svg {
margin: 0px 10px 0px 10px;
}

.delete-user-btn svg{
margin: 0px 10px 0px 10px;
}

button svg {
    align-self: center;
}

.img-mobile {
    align-self: center;
}

@media (min-width: 999px) {

    .desktop-hide {
        display: none;
    }

    .main-container_on_panel_site.medium {
        width: 1499px;
    }

    .main-container_on_panel_site.medium {
        width: 867px;
        height: 773px;
    }

    .container_for_add_license_panel {
        align-self: flex-start;
    }

    .img-mobile {
        align-self: flex-start;
    }

    .add-user-btn {
        margin: 5px;
    }

    .user-panel-with-infos {
        flex-direction: row;
    }

    .container_for_user_options img {
        margin-right: 20px;
    }

    .container-for_subwigets {
        display: flex;
        flex-direction: row-reverse;
    }

    .container_for_user_options {
        width: 1430px;
    }

    .user-panel-with-infos {
        width: 819px;
    }

    .normalver {
        width: 1430px;
    }

    .container_for_user_options {
        flex-direction: row;
    }

    .container-for-label-user-etc label {
        display: block;
    }

    .score__individual__user {
        display: block;
    }

}