.container_for_add_license_panel {
position: relative;
display: flex;
flex-direction: column;
text-align: center;
align-self: center;
margin: 0px 15px 15px;
}

.container_for_add_license_panel p {
    margin: 10px 15px 10px;
}

.license_panel_itself {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-evenly;
text-align: center;
align-self: center;
background: #D5E2FF;
border-radius: 15px;
width: auto;
margin: 0px 15px 15px;
}

.container_for_add_license_panel label {
color: #3B82F6;
font-size: 16px;
font-weight: bold;
text-align: left;
margin: 10px 20px 10px;
}

.container_for_add_license_panel input {
margin: 0px 20px 0px 20px;
}

.container_for_add_license_panel button {
    align-self: center;
    width: 208px;
    background: #3B82F6;
    color: white;
    margin: 20px 0;
}

.container_for_add_license_panel button:hover {
    background: #3B82F6;
}

@media (min-width: 999px) {

    .container_for_add_license_panel{
        align-self: flex-start;
    }

    .container_for_add_license_panel label {
        margin: 5px 20px -20px;
        }

        .container_for_add_license_panel input {
            margin: 0px 20px 0px 20px;
            }

    .license_panel_itself {
        height: 469px;
        width: 594px;
        }

}