
.change-mode-btn {
    position: absolute;
    top: 45px; 
    padding: 14px;
    right:230px; 
    z-index:199;
}

.mobile_bar_itself {
    display: none;
}

.mobile_notify_itself {
    height: 85px;
}

.desktop-css-fix {
    margin-top: 120px;
}

#cart_btn {
    width: 100%;
}

.desktop-fix-icon {
    margin-bottom: 20px;
}

.user_info_main_site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headbox-dashboard-css-fix h1 {
    margin: 0px 30px 0px;
    align-self: center;
}

.user_info_main_site_desc {
    display: flex;
    flex-direction: column;
}

.user_info_main_site_pfp {
    display: none;
}

.user_info_main_site_pfp img {
    margin:  0 10px;
}

/* hide mobile */

.Desktop_hide {
    display: none;
}

.mobile_nav {
    display: none;
}

.Mobile_hide {
    display: block;
}

.mobile_addon_card{
    display: none;
}

/* */

.hide_icon_speciality {
    display: block;
}

@media (min-width:539px) and (orientation:landscape) {

    .stats-mobile-fix-css {
        display:block;
    }

}

@media (min-width:0px) and (max-width: 999px) {

    .mobile_bar_itself {
        display: flex;
        position: relative;
        background: white;
        height: 105px;
    }

    .mobile_bar_itself img {
        align-self: center;
        height: 31px;
        width: 31px;
        margin: 10px;
    }

    .Desktop_hide {
        display: block;
    }

    .speciality_card_mobile {
        height: 77px;
        width: 95vw;
        margin: -10.5px;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
    }
    
    .desktop-css-fix {
        margin: 0px;
        margin-top: -50px;
    }

    .hide_icon_speciality {
        display: none;
    }

    .Mobile_hide {
        display: none;
    }

    .mobile_addon_speciality {
        font-size: 18px;
        height: 104px;
    }

    .Mobile-bgc {
        background:white;
    }

    .mobile-stats__ {
        height: 286px;
    }

    .mobile_addon_card{
        position: relative;
        display: block;
        width: 75px;
    }

    .user_info_main_site_pfp {
        display: flex;
        flex-direction: column;
    }

    .mobile-fix-btn {
        display: none;
    }

    .mobile-hide {
        display: none;
    }

    #cart_btn {
        width: 300px;
    }

    .css-shop-little-fix {
        margin-right: -70.5px
    }

    /* mobile-navigation */

    .mobile_nav {
        display: flex;
        position: fixed;
        flex-direction: row;
        justify-content: center;
        height: 75px;
        bottom: 0px;
        width: 100%;
        left: 0;
        background: white;
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
        z-index: 999;
    }

    .mobile_nav ul {
        display: flex;
        justify-content: center;
    }

    .mobile_nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* */

    .mobile-navigation a {
        margin-left: 20px;
        margin-right: 20px;
    }

    .mobile-navigation-md-fix {
        position: fixed;
        display: flex;
    }

    .space-y-12 > :not([hidden]) ~ :not([hidden]) { 
        --tw-space-y-reverse: none;
        margin-top: 25px;
    }

    .mobile-hide-option {
        display: none;
    }
    
.css-margin-bottom-mobile {
    margin-bottom: 60px;
}

.headbox-dashboard-css-fix {
    justify-content: center;
    align-self: center;
}

.headbox-dashboard-css-fix h1 {
    margin:20px 25px -45px;
    align-self: center;
}

.headbox-dashboard-css-fix div {
    align-self: center;
}

.headline-dashboard-css-fix {
    margin: 10px;
    align-self: center;
}

.dashboard-css-fix {
    width: 100%;
}

.stats-mobile-fix-css {
    display:none;
}


}


