.change-mode-btn {
  position: absolute;
  top: 45px;
  padding: 14px;
  right: 230px;
  z-index: 199;
}

.desktop-css-fix {
  margin-top: 120px;
}

#cart_btn {
  width: 100%;
}

.desktop-fix-icon {
  margin-bottom: 20px;
}

.user_info_main_site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headbox-dashboard-css-fix h1 {
  margin: 0px 30px 0px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user_info_main_site_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_info_main_site_pfp {
  display: none;
}

.user_info_main_site_pfp img {
  margin: 0 10px;
}

/* hide mobile */
.Desktop_hide {
  display: none;
}

.mobile_nav {
  display: none;
}

.Mobile_hide {
  display: block;
}

.mobile_addon_card {
  display: none;
}

/* */
.hide_icon_speciality {
  display: block;
}

@media (min-width: 539px) and (orientation: landscape) {
  .stats-mobile-fix-css {
    display: block;
  }
}

@media (min-width: 0px) and (max-width: 999px) {
  .Desktop_hide {
    display: block;
  }
  .speciality_card_mobile {
    height: 77px;
    width: 95vw;
  }
  .mobile_margin_box {
    margin: 0 10px;
  }
  .desktop-css-fix {
    margin: 0px;
    margin-top: -50px;
  }
  .hide_icon_speciality {
    display: none;
  }
  .Mobile_hide {
    display: none;
  }
  .mobile_addon_speciality {
    font-size: 18px;
    height: 104px;
  }
  .Mobile-bgc {
    background: white;
  }
  .mobile-stats__ {
    height: 286px;
  }
  .mobile_addon_card {
    position: relative;
    display: block;
    width: 75px;
  }
  .user_info_main_site_pfp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-fix-btn {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
  #cart_btn {
    width: 300px;
  }
  .css-shop-little-fix {
    margin-right: -70.5px;
  }
  /* mobile-navigation */
  .mobile_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 75px;
    bottom: 0px;
    width: 100%;
    left: 0;
    background: white;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  .mobile_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile_nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /* */
  .mobile-navigation a {
    margin-left: 20px;
    margin-right: 20px;
  }
  .mobile-navigation-md-fix {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .space-y-12 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: none;
    margin-top: 25px;
  }
  .mobile-hide-option {
    display: none;
  }
  .css-margin-bottom-mobile {
    margin-bottom: 60px;
  }
  .headbox-dashboard-css-fix {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .headbox-dashboard-css-fix h1 {
    margin: 20px 25px -45px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .headbox-dashboard-css-fix div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .headline-dashboard-css-fix {
    margin: 10px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .dashboard-css-fix {
    width: 100%;
  }
  .stats-mobile-fix-css {
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */